@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 14px;
    line-height: 1.5;
    color: #636363;
    background-color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 auto;
    
}


.wrap {
    margin: 0 auto;
}

/* header */

.header {
    width: 100%;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.h_01 {
    width: 100%;
}

.link {
    display: flex;
    justify-content: space-between;
    width: 1600px;
    height: 91px;
    padding: 23px 0 28px;
    margin: 0 auto;
}

.left {
    display: flex;
    width: 800px;
    height: 40px;
    gap: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
}

.left li a.on {
    color: #1c73d2;
}

.family {
    display: block;
    width: 150px;
    height: 40px;
    background-color: #f1f7fc;
    color: #1c73d2;
    line-height: 40px;
    border-radius: 25px;
    cursor: pointer;
}

.family:active {
    color: #fff;
    background-color: #1c73d2;
}


.family p {
    font-size: 15px;
    padding: 0 44px 0 22px;
}

.right {
    display: flex;
    height: 40px;
    gap: 20px;
}

.sns {
    display: flex;
}

.right ul {
    display: flex;
    gap: 5px;
}

.plus, .minus {
    display: block;
    width: 20px;
    height: 20px;
    font-weight: bold;
    color: #555;
    background-color: #ddd;
    text-align: center;
    border-radius: 5px;
    line-height: 16px;
    font-size: 16px;
}

/* gnb */

/* gnb */

.g_wrap {
    left: 0;
    top: 127.1px;
    background-color: #fff;
    width: 100%;
    padding: 55px 20px 20px 350px;
    display: none;
    position: absolute;
    z-index: 5;
    border-top: 1px solid #336ac0 ;
}

.g_wrap.on{
    display: block;
}

.container {
    width: 1200px;
    /* height: 852px; */
    display: flex;
    margin: 0 auto;
    
}

.gnb_01 {
    justify-content: space-between;
    display: flex;
}

.gnb_01 > ul {
    margin-right: 20px;
}


.gnb_01 ul li a {
    display: block;
    padding: 5px 5px 5px 15px;
}

.gnb_01_d {
    gap: 50px;
    display: flex;
    padding-left: 300px;
}

.gnb_01_d ul li a{
    display: block;
    padding: 5px 5px 5px 15px;
}



.g_title {
    display: block;
    width: 250px;
    line-height: 40px;
    font-size: 17px;
    font-weight: bold;
    color: #444;
    padding: 10px 0 10px 25px;
    background-color: #f8f9fb;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.logo {
    display: block;
    height: 126px;
}

.logo img {
    
    
    margin-top: 30px;
    padding-right: 80px;
}

.gnb > ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}



.gnb > ul > li > a {
    line-height: 126px;
    padding: 50px 39px;
}

.gnb > ul > li:hover {
    border-bottom: 2px solid #336ac0;
}


.gnb ul li a:hover {
    color: #336ac0;
    
}

.threebar {
    margin-left: 30px;
}

.threebar, .btn_search {
    padding: 50px 0;
}

.btn_search {
    margin-right: 27px;
}

.gnb > ul > li > a {
    font-size: 23px;
    font-weight: bold;
    color: #1b1b1b;
}



/* footer */

.footer {
    width: 100%;
}

.section_04 {
    width: 100%;
    background-color: #f7f8fa;
}

.madang {
    position: relative;
    display: flex;
    width: 1600px;
    height: 90px;
    justify-content: space-between;
    margin: 0 auto;
}

.madang > div {
    margin-right: 30px;
    display: flex;
    gap: 5px;
}

.madang > div img {
    width: 21px;
    height: 21px;
    margin-top: 35px;
}

.madang > div p {
    font-size: 18px;
    font-weight: bold;
    line-height: 90px;
}

.banner {
    display: flex;
    width: 1320px;
    height: 90px;
    overflow: hidden;
    
}

.banner li a {
    display: block;
    font-size: 16px;
    margin-right: 24px;
    padding-right: 12px;
    width: 200px;
    height: 90px;
    line-height: 90px;
}

.f_ctrl {
    display: block;
    cursor: pointer;
}

.f_link {
    width: 100%;
    height: 72px;
    background-color: #153355;
}

.f_menu {
    width: 1600px;
    display: flex;
    margin: 0 auto;
}

.f_menu > li {
    width: 532px;
    height: 72px;
    padding-left: 30px;
    position: relative;

}

.f_menu > li > a {
    display: block;
    font-size: 16px;
    color: #fff;
    width: 532px;
    height: 72px;
}

.f_menu > li > a > p {
    margin-top: 23px;
    width: 500px;
    border-right: 1px solid #7e7e7e;
}

.f_menu > li:first-child > a > p {
    border-left: 1px solid #7e7e7e;
    padding-left: 20px;
}






.f_menu li > div {
    display: none;
    position: absolute;
    width: 532px;
    background-color: white;
    padding: 25px 30px;
    border: 1px solid #eee;
    top: -375px;
}

.f_menu li:nth-child(2) > div {
    top: -315px;
}

.f_menu li:nth-child(3) > div {
    top: -195px;
}



.f_menu li > div h4 {
    color: #333;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.f_menu li > div > ul > li > a {
    font-size: 16px;
    color: #636363;
    display: block;
    width: 209px;
    height: 30px;
}

.f_menu li > div > ul {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.f_navi {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.f_site {
    display: flex;
    width: 1600px;
    height: 83px;
    margin: 0 auto;
    justify-content: space-between;
}

.f_site ul{
    
    display: flex;
    line-height: 83px;
    font-size: 16px;
    
}

.f_site ul li {
    padding: 0 30px;
    cursor: pointer;
}

.f_site ul li.f_on {
    color: #1c73d2;
    font-weight: bold;
}


.web {
    display: flex;
}

.web img {
    margin-top: 15px;
}

.web img:first-child {
    width: 145px;
    height: 44px;
}

.web img:last-child {
    width: 93px;
    height: 58px;
}

.section_05 {
    display: block;
    width: 100%;
}

.f_bottom {
    display: flex;
    width: 1600px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px 0;
}

.copyright ul {
    display: block;
    width: 1000px;
    color: #888;
}

.addr ul {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    color: #555;
    
}